Unity/Temp/*
Unity/Library/*
Unity/Assets/StreamedSceneBundles/*
*/build/*
*/Build/*
*/Builds/*

Unity/Assets/UnIDE/*

*.sln
*.userprefs
*.pidb
*.booproj
*.csproj
*.unityproj
.DS_Store
*.DS_Store
*.pyc
*.log

!*.gitignore

Unity/screenshot.png
Unity/build_log.txt

*.sw*
!*.swf

*.apk
Unity/Assets/UnIDE.meta

Unity/Assets/StreamingAssets/QCAR/unity.txt
Unity/Assets/StreamingAssets/QCAR/unity.txt.meta